@font-face {
    font-family: suez;
    src: url("fonts/SuezOne-Regular.ttf") format("truetype");
    }				


@font-face 
    {
        font-family: inter;
        src: url("fonts/Inter-ExtraLight-slnt=0.ttf") format("truetype");
    }		

@font-face 
    {
    font-family: helvi;
    src: url("fonts/HelveticaNeue.ttc") format("truetype");
    }		

@font-face 
    {
    font-family: varela;
    src: url("fonts/VarelaRound-Regular.ttf") format("truetype");
    }				
    
@font-face 
    {
    font-family: roboto_b;
    src: url("fonts/RobotoCondensed-Bold.ttf") format("truetype");
    }				

@font-face 
    {
    font-family: roboto;
    src: url("fonts/RobotoCondensed-Regular.ttf") format("truetype");
    }